ENVIRONMENT=dev
LOG_LEVEL=INFO
SERVICE_NAME=my-app-grpc-server

# gRPC server
GRPC_HOST=0.0.0.0
GRPC_PORT=50051
GRPC_SHUTDOWN_GRACE_SECONDS=15

# gRPC client
GRPC_CLIENT_TARGET=127.0.0.1:50051
GRPC_CLIENT_TIMEOUT_SECONDS=20
GRPC_CLIENT_CHANNEL_POOL_SIZE=1

# OpenTelemetry (optional)
OPENTELEMETRY_ENDPOINT=
OPENTELEMETRY_INSECURE=False
