[run]
omit =
    */__init__.py
    app/__main__.py
    core/infra/*
    core/grpc_server/generated/*
    */core/infra/*
    */core/grpc_server/generated/*

[report]
omit =
    */__init__.py
    app/__main__.py
    core/infra/*
    core/grpc_server/generated/*
    */core/infra/*
    */core/grpc_server/generated/*
